.env
/wg.conf
/nixflymc-ssh
/nixflymc-ssh-cert.pub
/result
/eula.txt
/libraries
/logs
/crash-reports
/versions
/world
/server.properties
/whitelist.json
/banned-ips.json
/banned-players.json
/ops.json
/usercache.json


